:root {
    --color-background: #DEDEDC;
    --color-primary: #84673D;
    --color-primary-darker: #51443A;
    --color-text: #1E1E1E;
    --color-wpp: #25D366;
    --color-wpp-light: #28e16c;
    font-size: 60%; /*controle das medidas rem */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100vh;
}

body{
    background-color: var(--color-background);
  
}

body,
input,
button,
textarea {
    font-weight: 400;
    font-family: Roboto;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%; /* Todo 1 rem vai ser relativo a 10px */
    }
}